<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a68d5b48-c39f-45e2-afb7-707b2c0ef8cd/resourceGroups/rg-az-204-webapp/providers/Microsoft.Web/sites/sqlappsv</ResourceId>
    <ResourceGroup>rg-az-204-webapp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://sqlappsv.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://sqlappsv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$sqlappsv</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>