<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a68d5b48-c39f-45e2-afb7-707b2c0ef8cd/resourceGroups/appsvc_windows_centralus_basic/providers/Microsoft.Web/sites/svwebapp</ResourceId>
    <ResourceGroup>appsvc_windows_centralus_basic</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://svwebapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://svwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$svwebapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>